.discord-circle {
  width: 60px;
  height: 60px;
  border: 3px solid #333;
  border-radius: 50%;
  margin-top: 10px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.discord-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.discord-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
  width: 150px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  z-index: 1000;
}

#discord-login-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.discord-btn {
  margin: 0;
  display: inline-block;
  padding: 10px 20px;
  background-color: #5865F2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 8px rgba(88, 101, 242, 0.7);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.discord-btn:hover {
  background-color: #4752c4;
  box-shadow: 0 0 12px rgba(71, 82, 196, 0.9);
}

.switch-container {
  position: fixed;
  top: 10%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: 0;
  width: fit-content;
  height: auto; 
  z-index: 1000;
}

.switch-text {
  font-size: 16px;
  color: #333;
  white-space: nowrap;
}
.switch {
  flex-shrink: 0;  
  flex-grow: 0;    
  width: 50px;
  height: 26px;
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:checked + .slider:before {
  transform: translateX(24px);
}

@media screen and (min-width: 1024px) and (min-height: 600px) {
  .switch-container {
    position: fixed;
    top: 25%;
    left: 1%;

  }
  .switch-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1400px){

  .switch-container {
  top: 25%;
  left: 4%;
}
  .switch-text {
    font-size: 20px;
  }
}